<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSAccessibilityUsageDescription</key>
	<string>This app requires access to monitor your keyboard input for typing analysis.</string>
	<key>NSInputMonitoringUsageDescription</key>
	<string>This application requires Input Monitoring permission to monitor keystrokes for measuring typing speed and accuracy. No personal data is collected or transmitted.</string>
	<key>CFBundleName</key>
	<string>Typing Analyst</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.0</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2025 Avikalp Gupta (assoc. Alokit Innovations Pvt Ltd)</string>
</dict>
</plist>
